:root {
    --stroke: #0A1C20;
    --text: #FEDC0C;
    --bg: #6FBFD9;
    --duration: 550ms;
    --easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-family: 'Luckiest Guy', cursive;
}

.content {
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2 {
    margin: 0;
    color: var(--text);
    -webkit-text-stroke-color: var(--stroke);
    line-height: 1;
    white-space: nowrap;
    -webkit-text-stroke-width: 0px;
}

h1 span, h2 span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all var(--duration) var(--easing);
    transform-origin: bottom center;
}

h1 {
    font-size: 10vw;
    -webkit-text-stroke-width: 0.3vw;
}

h1 span {
    margin-top: 8vw;
    font-size: 0;
    height: 100vw;
}

h1 span.animate-in {
    margin-top: 0;
    opacity: 1;
    font-size: 10vw;
}

h1 span.capital {
    font-size: 12vw;
}

h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw;
    -webkit-text-stroke-width: 0.15vw;
}

h2 span.animate-in {
    opacity: 1;
    transform: translateX(0);
}

h2 span.capital {
    margin-left: 1vw;
    font-size: 6vw;
}

.image {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    width: 20vw;
    opacity: 0;
    transition: opacity var(--duration) var(--easing), transform var(--duration) var(--easing);
}

.image.animate-in {
    opacity: 1;
    transform: translateX(-50%) translateY(-20px);
}

/* Other styles remain unchanged */

.button-container {
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    opacity: 0;
    transition: opacity var(--duration) var(--easing);
    background-color: var(--text);
    color: var(--bg);
    border: 2px solid black; /* Added black border */
    padding: 10px 20px;
    font-family: 'Luckiest Guy', cursive;
    font-size: 3vw;
    cursor: pointer;
    width: 100px; /* Fixed width for square shape */
    height: 100px; /* Fixed height for square shape */
    display: flex;
    justify-content: center;
    align-items: center;
}

.button.animate-in {
    opacity: 1;
    transform: translateY(-20px);
}

.options {
    display: none;
    position: absolute;
    width: 250px; /* Increased width for a larger orbit */
    height: 250px; /* Increased height for a larger orbit */
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.button-container:hover .options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.option {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: var(--text);
    border-radius: 50%;
    border: 2px solid black; /* Added black border */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    text-decoration: none;
    color: var(--bg);
    font-size: 1.2vw;
}

.option:hover {
    transform: scale(1.2);
}

.option:nth-child(1) { transform: translate(-50%, -175%); }
.option:nth-child(2) { transform: translate(50%, -175%); }
.option:nth-child(3) { transform: translate(175%, -50%); }
.option:nth-child(4) { transform: translate(175%, 50%); }
.option:nth-child(5) { transform: translate(50%, 175%); }
.option:nth-child(6) { transform: translate(-50%, 175%); }
.option:nth-child(7) { transform: translate(-175%, 50%); }
.option:nth-child(8) { transform: translate(-200%, -50%); }
/* Media query adjustments remain unchanged */


@media (max-width: 600px) {
    h1 {
        font-size: 15vw;
    }

    h1 span {
        margin-top: 12vw;
        height: 150vw;
    }

    h1 span.animate-in {
        font-size: 15vw;
    }

    h1 span.capital {
        font-size: 18vw;
    }

    h2 {
        top: 120%;
        font-size: 7.5vw;
    }

    h2 span.capital {
        font-size: 9vw;
    }

    .image {
        top: 130%;
        width: 40vw;
    }

    .button-container {
        top: 150%;
    }

    .button {
        font-size: 5vw;
    }

    .options {
        width: 300px;
        height: 300px;
    }

    .option {
        width: 60px;
        height: 60px;
        font-size: 2vw;
    }
}
