:root {
    --stroke: #0A1C20;
    --text: #FEDC0C;
    --bg: #6FBFD9;
    --duration: 550ms;
    --easing: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--bg);
    font-family: 'Luckiest Guy', cursive;
}

.content {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

h1, h2 {
    margin: 0;
    color: var(--text);
    -webkit-text-stroke-color: var(--stroke);
    line-height: 1;
    white-space: nowrap;
    -webkit-text-stroke-width: 0px;
}

h1 span, h2 span {
    position: relative;
    display: inline-block;
    opacity: 0;
    transition: all var(--duration) var(--easing);
    transform-origin: bottom center;
}

h1 {
    font-size: 10vw; /* Adjust font size based on viewport width */
    -webkit-text-stroke-width: 0.3vw;
}

h1 span {
    margin-top: 8vw;
    font-size: 0;
    height: 100vw;
}

h1 span.animate-in {
    margin-top: 0;
    opacity: 1;
    font-size: 10vw;
}

h1 span.capital {
    font-size: 12vw;
}

h2 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5vw; /* Adjust font size based on viewport width */
    -webkit-text-stroke-width: 0.15vw;
}

h2 span.animate-in {
    opacity: 1;
    transform: translateX(0);
}

h2 span.capital {
    margin-left: 1vw;
    font-size: 6vw;
}

@media (max-width: 600px) {
    h1 {
        font-size: 15vw; /* Increase font size for smaller screens */
    }

    h1 span {
        margin-top: 12vw;
        height: 150vw;
    }

    h1 span.animate-in {
        font-size: 15vw;
    }

    h1 span.capital {
        font-size: 18vw;
    }

    h2 {
        top: 120%;
        font-size: 7.5vw; /* Increase font size for smaller screens */
    }

    h2 span.capital {
        font-size: 9vw;
    }
}
